body {
  padding-top: 60px;
}

.iconn {
  margin-top: 250%;
}

.carousel-indicators {
  bottom: 0;
}

.country h2 {
  text-align: center;
  text-decoration: underline;
  color: #003300;
  font-family: "Arial Black", Gadget, sans-serif;
}
.country p {
  text-align: center;
}
.inner_content {
  border: solid 2px pink;
  border-radius: 5%;
  margin: 2%;
  padding: 2%;
}
